<template>
    <div>
        <div class="header_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="header_right_menu">
                                <div class="header_nav pull-right">
                                    <ul class="nav">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-envelope"></i>
                                                <span>1</span>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mr ss</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <!-- <li><a href="#">Account</a></li>
                                                    <li><a href="#">Setting</a></li> -->
                                                    <li><a href="#">Logout</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>