<template>
    <div>
        <Header />
        <Sidebar />
        <div class="main dashboard_home">
           <router-view></router-view>
        </div>
    </div>
</template>
<script>
import Header from './layout/Header'
import Sidebar from './layout/Sidebar'

export default {
    components:{
        Header,
        Sidebar
    }
}
</script>
</script>