<template>
    <div>
        <div class="main_title">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 no-padding">
                        <h2>Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="item_border">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="sub_title">
                            <h2>My Performance <span>Last 30 days</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="performance_inner">
                            <div class="performance_icon bg_primary">
                                <i class="fa fa-eye"></i>
                            </div>
                            <p>Home Page Visitor</p>
                            <h2>8</h2>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="performance_inner">
                            <div class="performance_icon bg_danger">
                                <i class="fa fa-eye"></i>
                            </div>
                            <p>Home Page Visitor (Unique)</p>
                            <h2>8</h2>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="performance_inner">
                            <div class="performance_icon bg_info">
                                <i class="fa fa-cart-plus"></i>
                            </div>
                            <p>Total Sale Amount</p>
                            <h2>$0.00</h2>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="performance_inner">
                            <div class="performance_icon bg_warning">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <p>Total Pending Order</p>
                            <h2>$90.00</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="sub_title">
                            <h2>Additional Stats</h2>
                        </div>
                    </div>
                </div>
                <div class="row performance_transparent_icon">
                    <div class="col">
                        <div class="performance_inner">
                            <div class="performance_icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <h2>$0.00</h2>
                            <p>Today Order Amount</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="performance_inner">
                            <div class="performance_icon">
                                <i class="fa fa-eye"></i>
                            </div>
                            <h2>8</h2>
                            <p>Yesterday Visitor</p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="performance_inner">
                            <div class="performance_icon">
                                <i class="fa fa-upload"></i>
                            </div>
                            <h2>$0.00</h2>
                            <p>Yesterday Order Amount</p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="performance_inner">
                            <div class="performance_icon">
                                <i class="fa fa-upload"></i>
                            </div>
                            <h2>$90.00</h2>
                            <p>Item Uploaded (This Month)</p>

                        </div>
                    </div>
                    <div class="col">
                        <div class="performance_inner">
                            <div class="performance_icon">
                                <i class="fa fa-upload"></i>
                            </div>
                            <h2>$90.00</h2>
                            <p>Item Uploaded (This Month)</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="sub_title">
                            <h2>Top 6 Styles</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-1.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-2.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-3.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-4.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-5.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                        <div class="home_product_inner">
                            <a href="#"><img src="asset/images/product-6.jpg" alt="" class="img-fluid"></a>
                            <p><a href="#">9403 WHT</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>