<template>
    <div>
        <template v-if="isLoggedIn">
            <dashboard/>
        </template>
        <template v-else>
            <Login/>
        </template>
    </div>
</template>

<script>
import Dashboard from './Dashboard'
import Login from './Login'

   export default {
        components:{
            Dashboard,
            Login
        },
        computed: {
            isLoggedIn(){
               return this.$store.state.isLoggedIn;
            }
        },
    }
</script>
